<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- El código anterior vincula un archivo de hoja de estilo CSS externo llamado "inicio.css" al documento HTML.
Esta hoja de estilo se utilizará para diseñar los elementos de la página web. -->
    <link rel="stylesheet" href="/stylesheet/inicio.css" type="text/css"/>
<!-- El código anterior incluye un archivo JavaScript externo llamado "script.js" en el documento HTML.
El atributo "aplazar" se utiliza para indicar que el script debe ejecutarse después de que se haya analizado el documento HTML. -->
    <script src="/javascripts/script.js" defer></script>
    <title>Pagina Principal</title>
</head>

<body>
<!-- El código anterior está creando un elemento de encabezado con una clase de "Encabezado".
Dentro del encabezado, hay un elemento de imagen con un atributo de origen que apunta a "/images/logo.png"
y un atributo alt establecido en "miraflores-de-la-sierra". La imagen también tiene una clase de "Header-img". -->
    <header class="Header">
        <img src="/images/logo.png" alt="miraflores-de-la-sierra" class="Header-img">
        </div>
    </Header>
    <main class="Main">
<!-- El código anterior está definiendo una sección con la clase "Biografia" y contiene información sobre el pueblo de Miraflores de la Sierra. 
    Incluye una imagen, un título, un subtítulo y un párrafo que describe la historia y los orígenes del pueblo. -->
            <section class="Biografia">
                <img src="/images/miraflores-de-la-sierra.png" alt="miraflores-de-la-sierra" class="Main-img">
                <h1 class="biografia-h1">miraflores de la sierra</h1>
                <h3 class="biografia-h3">La localidad de Miraflores de la Sierra está situada a 49 kilómetros de Madrid en un valle delimitado por los dos grandes bloques del Sistema Central. El primer nombre que tuvo la población fue Porquerizas. Cuenta la tradición que fue su belleza natural la que atrajo a la reina Isabel de Borbón, que se quedó prendada de la cantidad de flores del paraje y entusiasmada exclamó: !Mira, flores!</h3>
                <p class="biografia-p">Inicialmente, Miraflores de la Sierra no se llamaba así pues su primer nombre fue Porquerizas. No se sabe cuál fue la fecha exacta de su fundación, pero se cree que surgió durante el reinado de Alfonso X El Sabio. Aun así, su nacimiento fue anterior, pues la historia del pueblo de Miraflores como tal comienza con el periodo de la Reconquista de la Península Ibérica. Aún no se ha aclarado si la reconquista de Madrid fue antes, al mismo tiempo o después que la de Toledo; lo que parece cierto es que Madrid fue ocupada por tropas segovianas. Es por ello que muchos de los pueblos de la sierra madrileña fueron ocupados inicialmente por pastores segovianos. Pero Madrid respondió ante la invasión de sus tierras y durante los siglos posteriores a la Reconquista entró en una contienda con Segovia por ver quién se hacía con ellas.
                    Para evitar más conflictos, Alfonso X El Sabio decidió hacerse cargo personalmente de las tierras y aunó varios poblados existentes. La unión se llamó El Real de Manzanares. Pero los conflictos continuaron y en los años posteriores pasó de manos en manos. Finalmente, el Rey Juan I se las cedió a la familia de Mendoza y, con los años, cayeron en manos de Íñigo López de Mendoza, Marqués de Santillana, a principios de 1446.
                </p>
            </section>  
            <div class="Slider">
<!-- El código anterior está creando un contenedor deslizante con tres imágenes. La primera imagen tiene la clase "isActive", lo que significa que se mostrará inicialmente.
     Las otras dos imágenes estarán ocultas inicialmente. -->
                <div class="Slider-container">
                    <img src="/images/ayuntamiento.webp" alt="Imagen 1" class="Slider-img isActive">
                    <img src="/images/puente.jpg" alt="Imagen 2" class="Slider-img">
                    <img src="/images/Gruta.jpg" alt="Imagen 3" class="Slider-img">
                </div>
<!-- El código anterior está creando un elemento de botón con una clase de "Slider-btn prev". Dentro del botón, hay un elemento SVG con una clase de "Slider-svg". 
El elemento SVG contiene un elemento de ruta que define la forma de una flecha que apunta hacia la izquierda. 
Es probable que este botón se use en un componente de carrusel o control deslizante para navegar a la diapositiva anterior. -->
                <button class="Slider-btn prev">
                    <svg class="Slider-svg" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                      </svg>
                </button>
<!-- El código anterior está creando un elemento de botón con una clase de "Slider-btn next". 
Dentro del botón, hay un elemento SVG con una clase de "Slider-svg".
El elemento SVG contiene un elemento de ruta que define la forma de una flecha que apunta hacia la derecha.
Es probable que este botón se use en un componente de carrusel o control deslizante para navegar a la siguiente diapositiva. -->
                <button class="Slider-btn next">
                    <svg class="Slider-svg" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </button>
    
<!-- El código anterior está creando una lista desordenada (ul) con una clase de "Slider-ul".
Dentro de la ul, hay tres elementos de lista (li) con una clase de "Slider-li". 
Cada elemento de la lista contiene un elemento de botón con una clase de "Slider-punto". 
El primer botón tiene una clase adicional de "isActive". Es probable que este código sea parte de un componente de carrusel o control deslizante, donde los botones 
representan puntos de navegación o indicadores para diferentes diapositivas. -->
                <ul class="Slider-ul">
                    <li class="Slider-li"><button class="Slider-punto isActive"></button></li>
                    <li class="Slider-li"><button class="Slider-punto"></button></li>
                    <li class="Slider-li"><button class="Slider-punto"></button></li>
                </ul>
        </div>
<!-- El código anterior crea un elemento de encabezado HTML con la clase "titulo-rutas" y muestra el texto "¿Quieres conocer las rutas más famosas de Miraflores?" como encabezado. -->
        <h3 class="titulo-rutas">¿Quieres conocer las ruta mas famosas de Miraflores?</h3>
<!-- El código anterior muestra una sección de una página web que incluye una descripción de la ruta, un mapa incrustado, una breve descripción de la ruta y un enlace a la ruta en Wikiloc.
La ruta se llama "Miraflores de la Sierra a Las Torres de La Pedriza por la Najarra y vuelta por la Hoya de San Blas" y se describe como una ruta preciosa en la Cuenca Alta del Manzanares. 
El recorrido tiene una longitud de 30,18 km y un nivel de dificultad difícil. El mapa integrado permite a los usuarios ver la ruta -->
        <div class="rutas">
            <h3 class="nombre-ruta">Miraflores de la Sierra a Las Torres de La Pedriza por la Najarra y vuelta por la Hoya de San Blas</h3>
            <iframe class="iframe" frameBorder="0" scrolling="no" src="https://es.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=29079673&measures=off&title=off&near=off&images=off&maptype=H"></iframe>
            <p class="ruta-p">Una bonita ruta por la Cuenca Alta del Manzanares. Saliendo del pueblo de Miraflores de la Sierra subiremos a La Najarra para acercarnos a la zona oriental de la Pedriza.</p>
            <span class="span-rutas">Ruta de 30,18 km con una dificultad dificil</span>
            <a href="https://es.wikiloc.com/rutas-senderismo/miraflores-de-la-sierra-a-las-torres-de-la-pedriza-por-la-najarra-y-vuelta-por-la-hoya-de-san-blas-29079673#lb-embed" class="rutas-a">wikiloc</a>
        </div>
<!-- El código anterior está creando una sección para mostrar información sobre una ruta de senderismo. 
Incluye el nombre de la ruta, un mapa incrustado de Wikiloc, una descripción de la ruta, información sobre la distancia y el nivel de dificultad, y un enlace a la ruta en Wikiloc para más detalles. -->
        <div class="rutas">
            <h3 class="nombre-ruta">Chorreras de Miraflores de la Sierra vuelta por Los Diecisiete Hermanos</h3>
            <iframe class="iframe" frameBorder="0" scrolling="no" src="https://es.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=67917514&measures=off&title=off&near=off&images=off&maptype=H" ></iframe>
            <p class="ruta-p">Hermosa ruta para disfrutar en cualquier época del año por los Montes de Miraflores. Nos llevará a sus conocidas Chorreras y al majestuoso corro de robles de Los Diecisiete Hermanos.</p>
            <span class="span-rutas">Ruta de 13,08 km con una dificultad facil</span>
            <a href="https://es.wikiloc.com/rutas-senderismo/chorreras-de-miraflores-de-la-sierra-vuelta-por-los-diecisiete-hermanos-desde-a-r-fuente-del-cura-m-67917514#lb-embed" class="rutas-a">wikiloc</a>
        </div>
<!-- El código anterior está creando una sección en una página web llamada "Principales aspectos destacados" con dos subsecciones. 
Cada subsección contiene un encabezado y una imagen. 
La primera subsección se titula "Plaza del pueblo" y muestra una imagen de Miraflores.
La segunda subsección se titula "Río Guadalix" y muestra una imagen con el nombre de archivo "imagen6.jpg". -->
        <div class="Main-hightlights Hightlights">
            <div class="Hightlights-wrapper">
                <h1 class="Hightlights-h1">Los paisajes</h1>
                <div class="Hightlights-contenedora">
                     <div class="Hightlights-secion">
                        <h3 class="Hightlights-h3">Plaza del pueblo</h3>
                        <img src="/images/ayuntamiento.webp" alt="imagen"  class="Hightlights-img" >
                     </div>
                    <div class="Hightlights-secion">
                        <h3 class="Hightlights-h3">La Gruta de Miraflores</h3>
                        <img src="/images/GRUTA_editada.jpg" alt="imagen"  class="Hightlights-img">
                    </div>
                </div>
            </div>
        </div>
<!-- El código anterior está creando un contenedor div con un encabezado y un párrafo.
 El encabezado pregunta si el usuario desea inscribirse en una excursión, y el párrafo anima al usuario a completar un formulario para comenzar la aventura. -->
        <div class="container">
            <h1 class="h1-formulario">¿quieres apuntarte a nuestra excursion?</h1>
            <p class="p-formulario">¡rellena nuestro formulario para comenzar la aventura!</p>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="card">
                    <div class="header">Registro</div>
                    <div class="formulario">
                        <form action="/registro" method="POST">
                            <!-- El código anterior está creando un menú desplegable (seleccionar elemento) con dos opciones.
                            Las opciones son "Las Torres de La Pedriza" y "Chorreras de Miraflores de la Sierra". 
                            El usuario puede seleccionar una de estas opciones. -->
                            <div class="mb-3">
                                <select name="user_ruta" id="user_ruta">
                                    <label for="user_ruta">Rutas</label>
                                    <option class="option-option" value="Miraflores de la Sierra a Las Torres de La Pedriza"> Las Torres de La Pedriza</option>
                                    <option class="option-option" value="Chorreras de Miraflores de la Sierra ">Chorreras de Miraflores de la Sierra</option>
                                </select>
                            </div>
                           <!-- El código anterior está creando un campo de entrada de formulario para el nombre del usuario.
                            Incluye una etiqueta "Nombre" y un campo de entrada de tipo "texto" con el atributo de nombre establecido en "user_nombre". 
                            El campo de entrada tiene una clase de "control de formulario" que se usa comúnmente en Bootstrap para fines de estilo. -->
                            <div class="mb-3">
                                <label for="user_nombre">Nombre</label>
                                <input type="text" name="user_nombre" id="user_nombre" class="form-control">
                            </div>
                            <!-- El código anterior está creando un campo de entrada de formulario para el apellido del usuario.
                                Incluye una etiqueta "Apellido" y un campo de entrada de tipo "texto" con el nombre "user_apellido".
                                El campo de entrada tiene la clase "control de formulario", que se usa comúnmente en Bootstrap para fines de estilo. -->
                            <div class="mb-3">
                                <label for="user_apellido">Apellido</label>
                                <input type="text" name="user_apellido" id="user_apellido" class="form-control">
                            </div>
                            <!-- El código anterior está creando un campo de entrada de formulario HTML para la dirección de correo electrónico del usuario. 
                            Incluye una etiqueta "Email" y un campo de entrada de tipo "email" con el nombre "user_email_address". 
                            El campo de entrada tiene una clase de "control de formulario" que se usa comúnmente para fines de estilo. -->
                            <div class="mb-3">
                                    <label for="user_email_address">Email</label>
                                    <input type="email" name="user_email_address" id="user_email_address" class="form-control">
                            </div>
                             <!-- El código anterior está creando un campo de entrada de formulario para una contraseña.
                                Tiene una etiqueta "Contraseña" (que significa "Contraseña" en español) y un campo de entrada de tipo "contraseña".
                                El campo de entrada tiene una clase de "control de formulario" que se usa comúnmente en Bootstrap para fines de estilo. -->
                            <div class="mb-3">
                                <label for="user_password">Contraseña</label>
                                <input type="password" name="user_password" id="user_password" class="form-control">
                            </div>
                            <!-- El código anterior está creando un elemento de botón con la clase "botón". 
                                Dentro del elemento botón, hay un elemento de entrada de tipo "enviar" con el valor "Registrarte" y la clase "botón de entrada". -->
                            <div class="button">
                                <input type="submit" value="Registrarte" class="input-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
<!-- El código anterior está creando una sección de pie de página con íconos de redes sociales.
Incluye íconos para Facebook, YouTube e Instagram, junto con sus respectivos enlaces. -->
    <Footer class="Footer">
        <div class="Footer-wrapper Wrapper">
                <ul class="Rrss-ul">
                    <li class="Rrss-li">
                        <a class="Rrss-a" title="Rrss-facebook" href="https://www.facebook.com/AyuntamientoMirafloresdelaSierra/?locale=es_ES" target="_blank">
                        <svg class="Rrss-icon" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                      </svg></a>
                    </li>
                    <li class="Rrss-li">
                        <a class="Rrss-a" title="Rrss-youtube" href="https://youtu.be/Z4i9Lj8iUQk">
                        <svg class="Rrss-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                      </svg></a>
                    </li>
                    <li class="Rrss-li">
                        <a class="Rrss-a" title="Rrss-instagram" href="https://www.instagram.com/aytomiraflores/?hl=es" target="_blank">
                        <svg class="Rrss-icon" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                      </svg></a>
                    </li>
                </ul>
        </div>
        </Footer>
</body>
</html>