<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion del registro</title>
    <link rel="stylesheet" href="/stylesheet/confirres.css" type="text/css"/>
</head>
<body>
   <!-- el `<div class="Registro"> ` es un elemento contenedor con el nombre de clase &quot;Registro&quot;.
     Se utiliza para agrupar y diseñar el contenido dentro de él. Dentro del `<div> `, hay varios elementos: -->
    <div class="Registro">
        <h1><span>Y</span><span>A</span><span> </span><span>E</span><span>S</span><span>T</span><span>A</span><span>S</span><span> </span><span>R</span><span>E</span><span>G</span><span>I</span><span>T</span></span><span>R</span></span><span>A</span></span><span>D</span></span><span>O</span>
        </h1>
        <h3 class="Registro-h3">¡que empiece la aventura!</h3>
        <p class="Registro-p">muchas gracias por confiar en nosotros, revisa tu correo para obtener la fecha y la hora de comienzo de la excursion</p>
        <a href="inicio" class="Registro-a">INICIO</a>
    </div>  
</body>
</html>